body
{
    background-color: rgb(211, 236, 142);
}
h1 
{
    color:black;
font-size:100px;
text-align:center; 
font-family:Freestyle Script;
}

#cap
{
    color:grey; 
    font-size:90px;
text-align:center;
font-family:Felix Titling;
}
.zip
{
    text-align: center;
    font-family: Consolas;
    font-size: 15px;
}
#caption
{
    color: darkgrey;
}


